body {
	font-family: "Open Sans";
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.title {
	font-family: "Roboto Slab";
	font-size: 3rem;
	margin-top: 4rem;
}

.board {
	max-width: 600px;
	margin: 0 auto;
}